<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="bower_components/modernizr/modernizr.js"></script>

  </head>
  <body>
  <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
          <nav class="tab-bar">
              <section class="left-small">
                  <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
              </section>

              <section class="middle tab-bar-section">
                  <h1 class="title">Foundation</h1>
              </section>

              <section class="right-small">
                  <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
              </section>
          </nav>

          <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                  <ul class="off-canvas-list">
                      <li><label>Menu</label></li>
                      <li><a href="/"><i class="fa fa-meh-o fa-fw"></i>&nbsp;Comics</a></li>
                      <li><a href="/toon.tml"><i class="fa fa-video-camera fa-fw"></i>&nbsp;Toons</a></li>
                      <li><a href="/news.html"><i class="fa fa-home fa-fw"></i>&nbsp;News</a></li>
                      <li><a href="/contact.html"><i class="fa fa-comments-o fa-fw"></i>&nbsp;Contact</a></li>
                  </ul>
              </ul>
          </aside>

          <aside class="right-off-canvas-menu">
              <ul class="off-canvas-list">
                  <li><label>Users</label></li>
                  <li><a href="#">Hari Seldon</a></li>
                  <li><a href="#">...</a></li>
              </ul>
          </aside>

          <section class="main-section">
              <div class="row main">
                  <div class="large-9 small-12 columns">
                      <div class="row">
                          <div class="large-6 medium-6 small-12 columns">
                              <h4>"{{ comic.title }}" posted on {{ comic.releaseDate | date("D d.M.Y") }}</h4>
                          </div>
                          <div class="large-6 medium-6 small-12 columns no-pad-right">
                              <div class="comic-nav button-bar right">
                                  <ul class="button-group ">
                                      <li><a title="First episode" href="/comic/{{ first.comicId }}" class="small button secondary-btn {% if prev is empty %} secondary disabled {% endif %}"><i class="fa fa-angle-double-left fa-lg"></i></a></li>
                                      <li><a title="Previous episode" rel="prev" href="/comic/{{ prev.comicId }}" class="small button secondary-btn {% if prev is empty %} secondary disabled {% endif %}"><i class="fa fa-angle-left fa-lg"></i></a></li>
                                      <li><a title="Next episode" rel="next" href="/comic/{{ next.comicId }}" class="small button secondary-btn {% if next is empty %} secondary disabled {% endif %}"><i class="fa fa-angle-right fa-lg"></i></a></li>
                                      <li><a title="Most recent episode" href="/comic/{{ last.comicId }}" class="small button secondary-btn {% if next is empty %} secondary disabled {% endif %}"><i class="fa fa-angle-double-right fa-lg"></i></a></li>
                                      <li><a title="Random :)" href="/comic/{{ rand.comicId }}" class="small secondary-btn button"><i class="fa fa-refresh"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="row text-center display-comic" id="main-comic">
                          <!--<img src="http://lolgh.com/cms/content/lol_gh/{{ comic.url }}"/>-->
                          <img class="" src="http://placehold.it/400x300&text=[img]"/>
                          <!-- Go to www.addthis.com/dashboard to customize your tools -->
                          <!--<div class="addthis_sharing_toolbox"></div>-->
                      </div>
                  </div>

              </div>
          </section>

          <a class="exit-off-canvas"></a>

      </div>
  </div>
  <footer>

  </footer>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
